@page "/img-to-pdf"

<div class="pdf-title">
    图片转Pdf
</div>
<MDivider></MDivider>

<MFileInput
    @bind-Value="_files"
    Label="上传文件"
    PrependIcon=""
    Multiple>
    <SelectionContent Context="context">
        <div class="file-context">
            @_files[context.index].Name
            </div>
    </SelectionContent>
</MFileInput>

<div class="pdf-div">
    <button @onclick="ImgToPdfAsync" class="pdf-but">
        转换
    </button>
</div>
