@page "/pdf-merge"

<div class="pdf-title">
    合并Pdf
</div>
<MDivider></MDivider>

<MFileInput
    @bind-Value="_files"
    Placeholder=""
    Label="上传文件"
    Multiple
    PrependIcon="mdi-paperclip">
    <SelectionContent Context="context">
        <MChip
            Small
            Label
            Color="primary">
            @_files[context.index].Name
        </MChip>
    </SelectionContent>
</MFileInput>

<div class="pdf-div">
    <button @onclick="MangePdfAsync" class="pdf-but">
        合并
    </button>
</div>
