.about-title {
    text-align:center;
}

.about-img {
    height: 10%;
    width: 23%;
    margin-top: 20px;
}

.about-but{
    transition:.5s;
    border-radius: 12px;
    height: 39px;
    width: 100%;
    background-color:cadetblue;
}
.about-but:hover{
    transition:.5s;
    background-color:aqua;
    transform:scale(1.05);
}