.about-title {
    min-width: 400px;
    max-width: 500px;
    padding: 40px;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 20%;
    bottom: 0;
    right: 0;
}

.about-img {
}
