@page "/about"
@using HelperApp.Pages.Components

<div class="about-title">
    <img class="about-img" src="/logo.png"/>
    <h1>@Name</h1>
    <h2>当前版本 @Version</h2>
    <br/>
    <button class="about-but">功能介绍</button>
    <div></div><br/>
    <button @onclick="AppVersionAsync" class="about-but">检查新版本</button>

    <UpdateTheInterface appVersion="appVersion" UpdateShow="UpdateShow"/>
</div>
