@page "/about"
<div class="about-title">
    <MImage MaxHeight="80"
            MaxWidth="80"
            Class="about-img"
            Src="/logo.png">
    </MImage>

    <h1>@Name</h1>
    <h2>当前版本 @Version</h2>
    <br/>
    <MButton>功能介绍</MButton>
    <br/>
    <MButton>检查新版本</MButton>

</div>

<style>
    .about-title {
        width: 60%;
        height:40%;
        min-width: 400px;
        max-width: 500px;
        padding: 40px;
        overflow: auto;
        margin: auto;
        position: absolute;
        top: 0;
        left: 20%;
        bottom: 0;
        right: 0;
    }

    .about-img {
    }
</style>