@page "/function"

<div class="function-div">
    @foreach(var item in functionItems)
    {
        <div class="function-card" @onclick="()=>Href(item.Href!)">
            @item.Title
        </div>
    }
</div>
